## Log & File Paths
BANNED_LOG="log/banned.log"
UNBANNED_LOG="log/unbanned.log"
IGNORE_IP_LIST="/usr/local/ddos/ignored_ips.list"
IPT="/sbin/iptables"

## frequency in minutes for running the script
FREQ=1

## Threshold connections per Ip
NO_OF_CONNECTIONS=55

## (1) means Ban detected attackers, (0) means don't
BAN_ACTIVE=1

## Target email to send mail incase of an attack
EMAIL_TO="cg.karimtarek@gmail.com"

## Number of seconds the banned ip should be blocked
BAN_PERIOD=1200
